extends layout

block content

    a(href="/users") back to lists

    p Hello #{currentuser.name} !
    form(action="#{currentuser.id}", method="post") 
        p name: 
        <input type="text" name = "name" value = #{currentuser.name}>
        br
        p email: 
        <input type="text" name = "email" value = #{currentuser.email}>
        br
        p Enter your old password: 
        <input type="password" name = "oldpas">
        br
        p Enter your new password: 
        <input type="password" name = "password">
        br
        p Repeat your new password: 
        <input type="password" name = "reppas">
        br
        br
        button(type="submit" value="save") Save  
        br
        br
        
    form(action="/users/del/#{currentuser.id}", method="post")
        button(type="submit" value="delete") Delete

    br
    br
    form(method="post" enctype="multipart/form-data" action="/upload/#{currentuser.id}")
        input(type="file" name="file")
        input(type="submit" value="Add")

    <img src="/image.png" width="300px"/>