extends layout

block content

    a(href="/books") back to lists

    p Hello #{currentuser.name} !
    form(action="/books/find", method="post") 
        p book name: 
        <input type="text" name = "name" value = #{name}>
        br
        p book author: 
        <input type="text" name = "author" value = #{author}>
        br
        br
        button(type="submit" value="save") Find  

    br
    br
    
    a(href="/users") users-list
    br
    a(href="/authors") authors-list
    br
    a(href="/books") books-list:

    
    if currentuser 
        p <a href=/books/add> Add book </a>

    each book in findedBooks
        p name: <a href=/books/#{book.id}> !{book.name} </a>
        